<section class="giphy-list giphy-list-sorting">
  <button class="small" {{action "sortFavoritesAscending"}} aria-label="sort in ascending order">sort {{fa-icon "arrow-circle-o-up"}}</button>
  <button class="small" {{action "unsortFavorites"}} aria-label="sort in default order">sort {{fa-icon "dot-circle-o"}}</button>
  <button class="small" {{action "sortFavoritesDescending"}} aria-label="sort in descending order">sort {{fa-icon "arrow-circle-o-down"}}</button>
</section>
<section class="giphy-list">
  {{#each modelArray as |gif|}}
    {{#link-to "index.gif" gif.giphyId class="giphy-minature-rating"}}
      <img src={{gif.imageUrl}} alt={{gif.title}}>
      {{star-rating fullClassNames="fa fa-star"
      emptyClassNames="fa fa-star-o" item=gif rating=gif.userRating on-click=(action "emptyClick")}}
    {{/link-to}}
  {{/each}}
</section>