<section class="giphy-search-section">
  <h1>Welcome to MyGiphy</h1>
  <form submit="searchGiphy">
    {{input value=this.searchQuery autocomplete="off" type="text" autofocus="true"}}
    <button class="search-button" {{action "searchGiphy"}} disabled={{submitDisabled}}>SEARCH</button>
    <button {{action "favorites"}}>favorites</button>
  </form>
</section>

{{outlet}}