<section class="giphy-details">
  <div class="giphy-details-content">
    <div class="detail-section">
      <span class="giphy-meta">title: </span>
      <span>{{gif.titleNoGif}}</span>
    </div>
    <div class="detail-section">
      <span class="giphy-meta">date: </span>
      <span>{{moment-format gif.importDatetime "MMMM DD, YYYY"}}</span>
    </div>
    <div class="detail-section">
      <span class="giphy-meta">url: </span>
      <span><a href={{gif.url}}>original post</a></span>
    </div>
    <div class="detail-section">
      <span class="giphy-meta">my rating: </span>
      {{star-rating fullClassNames="fa fa-star" emptyClassNames="fa fa-star-o" item=gif rating=userRating on-click=(action "clickStar")}} 
    </div>
    <div class="detail-section-button">
      {{#if isFavorite}}
        <button {{action "removeFromFavorites"}} aria-label="remove giphy from favorites">remove from favorites</button>
      {{else}}
        <button {{action "addToFavorites"}} aria-label="add giphy from favorites">add to favorites</button>
      {{/if}}
    </div>
  </div>
  <div class="giphy-detail-image"> 
    <img src={{gif.imageUrl}} alt={{gif.title}}>
  </div>
</section>

<div class="buttons-small">
  <button {{action "back"}}>back</button>
</div>