<section class="giphy-details">
    <div class="giphy-details-content">
        <p class="giphy-meta">title: </p>
        <p>{{model.gif.titleNoEnding}}</p>
        <br>
        <p class="giphy-meta">url: </p>
        <p><a href={{model.gif.url}}>giphy link</a></p>
        <br>
        <p>add to favorites by rating giphy</p>
        <p>        <span class="giphy-meta">rating: </span>
        {{star-rating fullClassNames="fa fa-star"
        emptyClassNames="fa fa-star-o" item=model.gif rating=userRating on-click=(action "clickStar")}} </p>

        <br>
        <button class={{if isFavorite 'show-button' 'hide-button' }} {{action "removeFromFavorites"}}>remove from favorites</button>
    </div>
    <div>
        <img src={{model.gif.imageUrl}} alt="">
    </div>
</section>