<section class="giphy-details">
    <div class="giphy-details-content">
        <div class="detail-section">
            <span class="giphy-meta">title: </span>
            <span>{{model.gif.titleNoEnding}}</span>
        </div>
        <div class="detail-section">
            <span class="giphy-meta">date: </span>
            
            <span>{{moment-format model.gif.importDatetime 'MMMM DD, YYYY'}}</span></div>
        <div class="detail-section">
            <span class="giphy-meta">url: </span>
            <span><a href={{model.gif.url}}>original post</a></span>
        </div>
        <div class="detail-section"><span class="giphy-meta">my rating: </span>
            {{star-rating fullClassNames="fa fa-star"
            emptyClassNames="fa fa-star-o" item=model.gif rating=userRating on-click=(action "clickStar")}} </div>
        <div class="detail-section-button">
              <button class='small 
                {{ if isFavorite 'show-button' 'hide-button'}}'
                {{action "removeFromFavorites"}}
                >remove from favorites</button>
        </div>
    </div>
    <div class="giphy-detail-image">
        <img src={{model.gif.imageUrl}} alt="">
    </div>
</section>