<div class="giphy-list giphy-list-sorting pagination">
  <button class="small" {{action "previous"}} disabled={{previousButtonDisabled}} aria-label="go to previous page">{{fa-icon "arrow-circle-o-left"}} previous</button>
  <button class="small" {{action "next"}} disabled={{nextButtonDisabled}} aria-label="go to next page">next {{fa-icon "arrow-circle-o-right"}}</button>
</div>