<div class="giphy-list giphy-list-sorting pagination">
    <button {{action "previous"}} disabled={{previousButtonDisabled}}>{{fa-icon "arrow-circle-o-left"}} previous</button>
    <button {{action "next"}} disabled={{nextButtonDisabled}}>next {{fa-icon "arrow-circle-o-right"}}</button>
</div>