<div class="giphy-list giphy-list-sorting pagination">
  <button class="small" {{action "previous"}} disabled={{previousButtonDisabled}}>{{fa-icon "arrow-circle-o-left"}} previous</button>
  <button class="small" {{action "next"}} disabled={{nextButtonDisabled}}>next {{fa-icon "arrow-circle-o-right"}}</button>
</div>